body {
    margin: 100px;
    border: 2px solid black;
    padding: 10px;
    line-height: 1;
}

.box {
  display: flex;
  background-color: lightblue;
  flex-grow: 1;
  min-height: 50px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

#box1 {
    gap: 15px;
    padding: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 12px;
    padding: 12px;
    background-color: lightblue;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    padding: 12px;
    background-color: lightblue;
}

.column {
  background-color: gray;
  flex-grow: 1;
  height: 50px;
}

.column2 {
  background-color: gray;
  flex: 1 1 0;
  height: 50px;
  border: 2px solid black;
}

#column3 {
    grid-column: span 4;
}

p {
    line-height: 0.25;
}